In [1]:
import numpy as np
import pandas as pd
from tqdm import tqdm_notebook

In [2]:
sep = ','

# Movies

In [9]:
text_file = 'dati/emobank.csv'
columns = ['id', 'split', 'V', 'A', 'D', 'text']
text_raw = pd.read_csv(text_file, sep=sep, engine='python', header=1, 
                     index_col=0, names=columns)

In [11]:
text_raw.head()

,split,V,A,D,text
id,,,,,
110CYL068_1079_1110,test,2.80,3.10,2.80,If I wasn't working here.
110CYL068_1127_1130,train,3.00,3.00,3.00,".."""
110CYL068_1137_1188,train,3.44,3.00,3.22,Goodwill helps people get off of public assist...
110CYL068_1189_1328,train,3.55,3.27,3.46,Sherry learned through our Future Works class ...
110CYL068_1475_1558,train,3.60,3.30,3.80,Coming to Goodwill was the first step toward m...

In [12]:
text_raw.shape

(10061, 5)

# To MongoDB

In [13]:
import pymongo

In [14]:
db = pymongo.MongoClient()['Emobank']

In [17]:
for i, row in text_raw.iterrows():
    record = dict(row)
    record['id'] = i
    print(record)
    break

{'split': 'test', 'V': 2.8, 'A': 3.1, 'D': 2.8, 'text': "If I wasn't working here.", 'id': '110CYL068_1079_1110'}

In [18]:
text_records = {}
for i, row in text_raw.iterrows():
    record = dict(row)
    record['id'] = i
    text_records[i] = record

In [19]:
text_collection = db['text']
text_collection.insert_many([x for x in text_records.values()])

In [20]:
text_records['110CYL068_1079_1110']

{'split': 'test',
 'V': 2.8,
 'A': 3.1,
 'D': 2.8,
 'text': "If I wasn't working here.",
 'id': '110CYL068_1079_1110',
 '_id': ObjectId('6390c622e72073daa8bcf9fb')}